# ============================================
# Project settings
# ============================================
PROJECT_NAME=postman-runner
DOMAIN=sub.example.com

# ============================================
# Application Authentication
# ============================================
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=change_me_secure_password
